form {
    display: flex;
    flex-direction: column;
}

.content, .equalizer {
    display: flex;
    margin: 25px;
}

.equalizer {
    flex-direction: column;
    gap: 10px;
}


::placeholder {
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {color: white;}
::-ms-input-placeholder {color: white;}


input {
    padding: 10px;
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 4px;
}

input[type="submit"], input[type="reset"] {
    border-bottom: 2px solid transparent;
}

input[type="text"], input[type="password"], input[type="submit"]:hover, input[type="reset"]:hover {
    border-bottom: 2px solid white;
    overflow: hidden;
}
