<footer>
    <div id="links">
        <div class="links-wrapper">
            <section class="clickable">
                <img src="../../svg/education.svg" alt="236">
                <a target="_blank" href="https://www.lyceefulbert.fr/">Lycée</a>
            </section>
            <section class="clickable" >
                <img src="../../svg/email.svg" alt="236">
                <a target="_blank" href="mailto:ludovic.mery@ac-orleans-tours.fr">Mail</a>
            </section>
            <section class="clickable" >
                <img src="../../svg/facebook.svg" alt="236">
                <a target="_blank" href="https://www.facebook.com/BTS-SIO-Lyc%C3%A9e-Fulbert-668034059923781">Facebook</a>
            </section>
        </div>
    </div>
</footer>